.root {
    background: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    max-width: 1280px;
    margin: auto;
    /* outline: 1px solid yellow; */
}

.header {
    margin-top: 45px;
    line-height: 0;
}

.content {
    width: calc(100% - (400 * 100%/1280));
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    width: 100%;
    height: calc(100vw/(1280/33));
    max-height: 33px;
    min-height: 25px;
}

.logo {
   max-width: 100%;
   height: 100%;
}

.header__line {
    width: 100%;
    margin-top: 41px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-header__user {
    display: flex;
    align-items: center;
    line-height: 0;
    height: calc(100vw/(1280/120));
    max-height: 120px;
    min-height: 100px;
}

.profile-header__user-avatar {
    border-radius: 50%;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
}

.profile-header__user-info {
    

}

.profile-header__user-name {
    
}
