.root {
    background: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    max-width: 1280px;
    margin: auto;
    /* outline: 1px solid yellow; */
}

.header {
    margin-top: 45px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vw/(1280/74));
    max-height: 74px;
    min-height: 50px;
    justify-content: space-between;
}

.content {
    width: calc(100% - (400 * 100%/1280));
    /* outline: 1px solid red; */
    margin-left: auto;
    margin-right: auto;
}

.logo-container {
    width: 100%;
    height: calc(100vw/(1280/33));
    max-height: 33px;
    min-height: 25px;
}

.logo {
   max-width: 100%;
   height: 100%;
}

.header__line {
    width: 100%;
    /* margin-top: 41px; */
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.profile-header__user {
    display: flex;
    align-items: center;
    line-height: 0;
    height: calc(100vw/(1280/120));
    max-height: 120px;
    min-height: 100px;
}

.profile-header__user-avatar {
    border-radius: 50%;
    max-width: 100%;
    height: 100%;
}

.profile-header__user-info {
    margin-left: 30px;
}

.profile-header__name-line {
    display: flex;
    align-items: baseline;
}

.profile-header__user-name {
    font-weight: 500;
    font-size: 42px;
    line-height: 39px;
    margin: 0;
}

.button  {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
    line-height: 0;
}

.profile-header__edit-button {
    margin: 0 0 0 16px;
}

.profile-header__user-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin: 16px 0 0 0;
}

.profile-header__add-button {

}

.gallery {
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr));
    margin-top: 51px;
}

.gallery__item {
    background-color: #FFFFFF;
    width: 282px;
    height: 361px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0;
}

.gallery__photo {
    width: 100%;
    height: 282px;
    object-fit: cover;
    object-position: center;
    justify-self: center;
}

.gallery__caption {
    color: #000000;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
}

.gallery__caption-line {
    display: flex;
    margin: 25px 15px 0 21px;
    justify-content: space-between;
    /* outline: solid 1px  red; */
}

.footer {
    margin-top: 66px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.footer__autor {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #545454;
}
